<?xml version="1.0"?>
<ruleset name="Translation API">
	<description>WordPress coding standards for the Translation API plugin.</description>

	<file>.</file>
	<exclude-pattern>vendor/*</exclude-pattern>
	<exclude-pattern>.wpml/*</exclude-pattern>
	<exclude-pattern>node_modules/*</exclude-pattern>

	<arg name="extensions" value="php"/>
	<arg name="basepath" value="."/>
	<arg value="ps"/>
	<arg name="parallel" value="8"/>

	<config name="testVersion" value="8.1-"/>
	<config name="minimum_supported_wp_version" value="6.4"/>

	<rule ref="WordPress"/>
	<rule ref="PHPCompatibilityWP"/>

	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array">
				<element value="translation-api"/>
			</property>
		</properties>
	</rule>
</ruleset>
